In [19]:
import pandas as pd
import requests
from zipfile import ZipFile
import io

url = 'https://raw.githubusercontent.com/rushabh1809-bot/MN5813-GRP-3/main/athlete_events.csv.zip'

retrived_url = requests.get(url)
zip_file = ZipFile(io.BytesIO(retrived_url.content))

df= pd.read_csv(zip_file.open('athlete_events.csv'))
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [16]:
df_duplicates= df[df.duplicated(keep=False)]
no_duplicates= df.drop(df_duplicates.index,inplace=True)
df.columns= df.columns.str.lower()

In [17]:
df['height'].fillna(df['height'].median(),inplace=True)
df['weight'].fillna(df['weight'].median(),inplace=True)
df['age'].fillna(df['age'].median(),inplace=True)
df['medal'].fillna('No Medal',inplace=True)