In [30]:
import pandas as pd
import requests
from zipfile import ZipFile
import io

url = 'https://raw.githubusercontent.com/rushabh1809-bot/MN5813-GRP-3/main/athlete_eventsgrp.csv.zip'

retrived_url = requests.get(url)
zip_file = ZipFile(io.BytesIO(retrived_url.content))

df= pd.read_csv(zip_file.open('athlete_events.csv'))
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

The data set of the olympic data has been loaded in from a zipcode in Github and 5 rows has been shown of the data frame to ensure it has loaded in

In [31]:
print('What columns are in our data set:')
print(df.columns)

What columns are in our data set:
Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [32]:
duplicated_data=df.duplicated().sum()
print(f'Amount of duplicates in data set: {duplicated_data}')

Amount of duplicates in data set: 1385

In [33]:
df=df.drop_duplicates()

Duplicates are deleted

In [34]:
df['Height']=df['Height'].fillna(df['Height'].median())
df['Weight']=df['Weight'].fillna(df['Weight'].median())
df['Age']=df['Age'].fillna(df['Age'].median())
df['Medal']=df['Medal'].fillna('No Medal')

Nan values have been changed into median of data so data can be easily analysed without it being skewed, we assumed nan values for medals meant that the athlete didnt recieve a medal.

In [36]:
medal_table = pd.pivot_table(
    df,
    index='NOC',     
    columns='Year',     
    values='Medal',     
    aggfunc='count',      
    fill_value=0         
)

medal_table

Year,1896-01-01,1900-01-01,1904-01-01,1906-01-01,1908-01-01,1912-01-01,1920-01-01,1924-01-01,1928-01-01,1932-01-01,...,1998-01-01,2000-01-01,2002-01-01,2004-01-01,2006-01-01,2008-01-01,2010-01-01,2012-01-01,2014-01-01,2016-01-01
NOC,,,,,,,,,,,,,,,,,,,,,
AFG,0,0,0,0,0,0,0,0,0,0,...,0,0,0,5,0,4,0,6,0,3
AHO,0,0,0,0,0,0,0,0,0,0,...,0,8,0,3,0,4,0,0,0,0
ALB,0,0,0,0,0,0,0,0,0,0,...,0,5,0,7,3,12,2,10,2,6
ALG,0,0,0,0,0,0,0,0,0,0,...,0,51,0,71,3,57,1,39,0,74
AND,0,0,0,0,0,0,0,0,0,0,...,7,5,5,6,10,5,20,6,12,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YEM,0,0,0,0,0,0,0,0,0,0,...,0,2,0,3,0,8,0,4,0,3
YMD,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
YUG,0,0,0,0,0,0,15,121,94,1,...,0,0,0,0,0,0,0,0,0,0
ZAM,0,0,0,0,0,0,0,0,0,0,...,0,8,0,6,0,8,0,7,0,7
ZIM,0,0,0,0,0,0,0,0,2,0,...,0,26,0,14,0,16,0,9,2,31

In [37]:
melted_df = df.melt(
    id_vars='NOC',
    var_name='MedalType',
    value_name='Count'
)
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Century
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992-01-01,Summer,Barcelona,Basketball,Basketball Men's Basketball,No Medal,20
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012-01-01,Summer,London,Judo,Judo Men's Extra-Lightweight,No Medal,21
2,3,Gunnar Nielsen Aaby,M,24.0,175.0,70.0,Denmark,DEN,1920 Summer,1920-01-01,Summer,Antwerpen,Football,Football Men's Football,No Medal,20
3,4,Edgar Lindenau Aabye,M,34.0,175.0,70.0,Denmark/Sweden,DEN,1900 Summer,1900-01-01,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,20
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988-01-01,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,No Medal,20

In [38]:
sport_season_crosstab = pd.crosstab(
    df['Sport'],
    df['Season']
)

sport_season_crosstab

Season            Summer  Winter
Sport
Aeronautics            1       0
Alpine Skiing          0    8829
Alpinism               4      21
Archery             2334       0
Art Competitions    2263       0
...                  ...     ...
Tug-Of-War           170       0
Volleyball          3404       0
Water Polo          3846       0
Weightlifting       3937       0
Wrestling           7154       0

[66 rows x 2 columns]

In [39]:
sport_season_medals = pd.pivot_table(
    df,
    index='Sport',
    columns='Season',
    values='Medal',
    aggfunc='sum',
    fill_value=0
)

sport_season_medals

Season,Summer,Winter
Sport,,
Aeronautics,Gold,0
Alpine Skiing,0,No MedalGoldBronzeNo MedalSilverBronzeNo Medal...
Alpinism,GoldGoldGoldGold,GoldGoldGoldGoldGoldGoldGoldGoldGoldGoldGoldGo...
Archery,No MedalNo MedalNo MedalNo MedalNo MedalNo Med...,0
Art Competitions,No MedalNo MedalNo MedalNo MedalNo MedalNo Med...,0
...,...,...
Tug-Of-War,GoldNo MedalGoldNo MedalNo MedalGoldSilverNo M...,0
Volleyball,No MedalNo MedalNo MedalNo MedalNo MedalNo Med...,0
Water Polo,No MedalGoldNo MedalNo MedalNo MedalNo MedalNo...,0
Weightlifting,No MedalNo MedalNo MedalNo MedalNo MedalNo Med...,0
Wrestling,No MedalNo MedalNo MedalNo MedalSilverNo Medal...,0

In [40]:
df_multi = df.set_index(['NOC','Sport','Event']).sort_index()
df_multi

                                                        ID  \
NOC Sport         Event
AFG Athletics     Athletics Men's 100 metres          6336
                  Athletics Men's 100 metres          6336
                  Athletics Men's 100 metres          6336
                  Athletics Men's 100 metres         39920
                  Athletics Men's 100 metres         59161
...                                                    ...
ZIM Tennis        Tennis Women's Singles             82928
    Triathlon     Triathlon Men's Olympic Distance   34530
                  Triathlon Men's Olympic Distance   34530
                  Triathlon Men's Olympic Distance   74696
    Weightlifting Weightlifting Men's Heavyweight I  24958

                                                                                  Name  \
NOC Sport         Event
AFG Athletics     Athletics Men's 100 metres                              Masoud Azizi
                  Athletics Men's 100 metres                              Masoud Azizi
                  Athletics Men's 100 metres                              Masoud Azizi
                  Athletics Men's 100 metres                             Abdul Ghafoor
                  Athletics Men's 100 metres                    Mohammad Mohammad Khan
...                                                                                ...
ZIM Tennis        Tennis Women's Singles                     Julia Corinne Muir (-Sim)
    Triathlon     Triathlon Men's Olympic Distance   Christopher James "Chris" Felgate
                  Triathlon Men's Olympic Distance   Christopher James "Chris" Felgate
                  Triathlon Men's Olympic Distance                       Mark Marabini
    Weightlifting Weightlifting Men's Heavyweight I                 Addison Brian Dale

                                                    Sex   Age  Height  Weight  \
NOC Sport         Event
AFG Athletics     Athletics Men's 100 metres          M  19.0   168.0    64.0
                  Athletics Men's 100 metres          M  23.0   168.0    64.0
                  Athletics Men's 100 metres          M  27.0   168.0    64.0
                  Athletics Men's 100 metres          M  26.0   175.0    70.0
                  Athletics Men's 100 metres          M  25.0   175.0    70.0
...                                                  ..   ...     ...     ...
ZIM Tennis        Tennis Women's Singles              F  17.0   167.0    59.0
    Triathlon     Triathlon Men's Olympic Distance    M  26.0   189.0    77.0
                  Triathlon Men's Olympic Distance    M  30.0   189.0    77.0
                  Triathlon Men's Olympic Distance    M  35.0   181.0    75.0
    Weightlifting Weightlifting Men's Heavyweight I   M  37.0   180.0    91.0

                                                            Team        Games  \
NOC Sport         Event
AFG Athletics     Athletics Men's 100 metres         Afghanistan  2004 Summer
                  Athletics Men's 100 metres         Afghanistan  2008 Summer
                  Athletics Men's 100 metres         Afghanistan  2012 Summer
                  Athletics Men's 100 metres         Afghanistan  1996 Summer
                  Athletics Men's 100 metres         Afghanistan  1936 Summer
...                                                          ...          ...
ZIM Tennis        Tennis Women's Singles                Zimbabwe  1988 Summer
    Triathlon     Triathlon Men's Olympic Distance      Zimbabwe  2008 Summer
                  Triathlon Men's Olympic Distance      Zimbabwe  2012 Summer
                  Triathlon Men's Olympic Distance      Zimbabwe  2000 Summer
    Weightlifting Weightlifting Men's Heavyweight I     Zimbabwe  1980 Summer

                                                          Year  Season  \
NOC Sport         Event
AFG Athletics     Athletics Men's 100 metres        2004-01-01  Summer
                  Athletics Men's 100 metres        2008-01-01  Summer
                  Athletics Men's 100 metres        2012-01-01  Summer
                  Athletics Men's 100 metres        1996-01-01  Summer
                  Athletics Men's 100 metres        1936-01-01  Summer
...                                                        ...     ...
ZIM Tennis        Tennis Women's Singles            1988-01-01  Summer
    Triathlon     Triathlon Men's Olympic Distance  2008-01-01  Summer
                  Triathlon Men's Olympic Distance  2012-01-01  Summer
                  Triathlon Men's Olympic Distance  2000-01-01  Summer
    Weightlifting Weightlifting Men's Heavyweight I 1980-01-01  Summer

                                                        City     Medal  \
NOC Sport         Event
AFG Athletics     Athletics Men's 100 metres          Athina  No Medal
                  Athletics Men's 100 metres         Beijing  No Medal
                  Athletics Men's 100 metres          London  No Medal
                  Athletics Men's 100 metres         Atlanta  No Medal
                  Athletics Men's 100 metres          Berlin  No Medal
...                                                      ...       ...
ZIM Tennis        Tennis Women's Singles               Seoul  No Medal
    Triathlon     Triathlon Men's Olympic Distance   Beijing  No Medal
                  Triathlon Men's Olympic Distance    London  No Medal
                  Triathlon Men's Olympic Distance    Sydney  No Medal
    Weightlifting Weightlifting Men's Heavyweight I   Moskva  No Medal

                                                     Century
NOC Sport         Event
AFG Athletics     Athletics Men's 100 metres              21
                  Athletics Men's 100 metres              21
                  Athletics Men's 100 metres              21
                  Athletics Men's 100 metres              20
                  Athletics Men's 100 metres              20
...                                                      ...
ZIM Tennis        Tennis Women's Singles                  20
    Triathlon     Triathlon Men's Olympic Distance        21
                  Triathlon Men's Olympic Distance        21
                  Triathlon Men's Olympic Distance        21
    Weightlifting Weightlifting Men's Heavyweight I       20

[269731 rows x 13 columns]

In [41]:
df_multi.xs('USA', level='NOC')

                                                             ID  \
Sport         Event
Alpine Skiing Alpine Skiing Men's Combined                12204
              Alpine Skiing Men's Combined                14635
              Alpine Skiing Men's Combined                30856
              Alpine Skiing Men's Combined                35127
              Alpine Skiing Men's Combined                35762
...                                                         ...
Wrestling     Wrestling Women's Lightweight, Freestyle   124558
              Wrestling Women's Middleweight, Freestyle   77851
              Wrestling Women's Middleweight, Freestyle   79929
              Wrestling Women's Middleweight, Freestyle   95168
              Wrestling Women's Middleweight, Freestyle   95168

                                                                                       Name  \
Sport         Event
Alpine Skiing Alpine Skiing Men's Combined                          Robert "Bob" Blatt, Jr.
              Alpine Skiing Men's Combined                                 Will Brandenburg
              Alpine Skiing Men's Combined               Richard Henry "Dick" Durrance, Jr.
              Alpine Skiing Men's Combined                                 Jakub Paul Fiala
              Alpine Skiing Men's Combined                                   Chad Fleischer
...                                                                                     ...
Wrestling     Wrestling Women's Lightweight, Freestyle                     Marcie Van Dusen
              Wrestling Women's Middleweight, Freestyle                         Sara McMann
              Wrestling Women's Middleweight, Freestyle                 Randi Criner Miller
              Wrestling Women's Middleweight, Freestyle         Elena Sergeyevna Pirozhkova
              Wrestling Women's Middleweight, Freestyle         Elena Sergeyevna Pirozhkova

                                                        Sex   Age  Height  \
Sport         Event
Alpine Skiing Alpine Skiing Men's Combined                M  26.0   181.0
              Alpine Skiing Men's Combined                M  23.0   185.0
              Alpine Skiing Men's Combined                M  21.0   175.0
              Alpine Skiing Men's Combined                M  26.0   183.0
              Alpine Skiing Men's Combined                M  22.0   188.0
...                                                      ..   ...     ...
Wrestling     Wrestling Women's Lightweight, Freestyle    F  26.0   165.0
              Wrestling Women's Middleweight, Freestyle   F  23.0   167.0
              Wrestling Women's Middleweight, Freestyle   F  24.0   157.0
              Wrestling Women's Middleweight, Freestyle   F  25.0   168.0
              Wrestling Women's Middleweight, Freestyle   F  29.0   168.0

                                                         Weight  \
Sport         Event
Alpine Skiing Alpine Skiing Men's Combined                 76.0
              Alpine Skiing Men's Combined                 89.0
              Alpine Skiing Men's Combined                 70.0
              Alpine Skiing Men's Combined                 93.0
              Alpine Skiing Men's Combined                102.0
...                                                         ...
Wrestling     Wrestling Women's Lightweight, Freestyle     55.0
              Wrestling Women's Middleweight, Freestyle    62.0
              Wrestling Women's Middleweight, Freestyle    63.0
              Wrestling Women's Middleweight, Freestyle    72.0
              Wrestling Women's Middleweight, Freestyle    72.0

                                                                  Team  \
Sport         Event
Alpine Skiing Alpine Skiing Men's Combined               United States
              Alpine Skiing Men's Combined               United States
              Alpine Skiing Men's Combined               United States
              Alpine Skiing Men's Combined               United States
              Alpine Skiing Men's Combined               United States
...                                                                ...
Wrestling     Wrestling Women's Lightweight, Freestyle   United States
              Wrestling Women's Middleweight, Freestyle  United States
              Wrestling Women's Middleweight, Freestyle  United States
              Wrestling Women's Middleweight, Freestyle  United States
              Wrestling Women's Middleweight, Freestyle  United States

                                                               Games  \
Sport         Event
Alpine Skiing Alpine Skiing Men's Combined               1948 Winter
              Alpine Skiing Men's Combined               2010 Winter
              Alpine Skiing Men's Combined               1936 Winter
              Alpine Skiing Men's Combined               2002 Winter
              Alpine Skiing Men's Combined               1994 Winter
...                                                              ...
Wrestling     Wrestling Women's Lightweight, Freestyle   2008 Summer
              Wrestling Women's Middleweight, Freestyle  2004 Summer
              Wrestling Women's Middleweight, Freestyle  2008 Summer
              Wrestling Women's Middleweight, Freestyle  2012 Summer
              Wrestling Women's Middleweight, Freestyle  2016 Summer

                                                              Year  Season  \
Sport         Event
Alpine Skiing Alpine Skiing Men's Combined              1948-01-01  Winter
              Alpine Skiing Men's Combined              2010-01-01  Winter
              Alpine Skiing Men's Combined              1936-01-01  Winter
              Alpine Skiing Men's Combined              2002-01-01  Winter
              Alpine Skiing Men's Combined              1994-01-01  Winter
...                                                            ...     ...
Wrestling     Wrestling Women's Lightweight, Freestyle  2008-01-01  Summer
              Wrestling Women's Middleweight, Freestyle 2004-01-01  Summer
              Wrestling Women's Middleweight, Freestyle 2008-01-01  Summer
              Wrestling Women's Middleweight, Freestyle 2012-01-01  Summer
              Wrestling Women's Middleweight, Freestyle 2016-01-01  Summer

                                                                           City  \
Sport         Event
Alpine Skiing Alpine Skiing Men's Combined                         Sankt Moritz
              Alpine Skiing Men's Combined                            Vancouver
              Alpine Skiing Men's Combined               Garmisch-Partenkirchen
              Alpine Skiing Men's Combined                       Salt Lake City
              Alpine Skiing Men's Combined                          Lillehammer
...                                                                         ...
Wrestling     Wrestling Women's Lightweight, Freestyle                  Beijing
              Wrestling Women's Middleweight, Freestyle                  Athina
              Wrestling Women's Middleweight, Freestyle                 Beijing
              Wrestling Women's Middleweight, Freestyle                  London
              Wrestling Women's Middleweight, Freestyle          Rio de Janeiro

                                                            Medal  Century
Sport         Event
Alpine Skiing Alpine Skiing Men's Combined               No Medal       20
              Alpine Skiing Men's Combined               No Medal       21
              Alpine Skiing Men's Combined               No Medal       20
              Alpine Skiing Men's Combined               No Medal       21
              Alpine Skiing Men's Combined               No Medal       20
...                                                           ...      ...
Wrestling     Wrestling Women's Lightweight, Freestyle   No Medal       21
              Wrestling Women's Middleweight, Freestyle    Silver       21
              Wrestling Women's Middleweight, Freestyle    Bronze       21
              Wrestling Women's Middleweight, Freestyle  No Medal       21
              Wrestling Women's Middleweight, Freestyle  No Medal       21

[18604 rows x 13 columns]

In [42]:
df_multi.xs(('USA','Swimming'), level=('NOC','Sport'))

,ID,Name,Sex,Age,Height,Weight,Team,Games,Year,Season,City,Medal,Century
Event,,,,,,,,,,,,,
"Swimming Men's 1,200 metres Freestyle",130597,Gardner Boyd Williams,M,18.0,175.0,70.0,United States,1896 Summer,1896-01-01,Summer,Athina,No Medal,19
"Swimming Men's 1,500 metres Freestyle",12940,Eugene Thomas Bolden,M,20.0,175.0,70.0,United States,1920 Summer,1920-01-01,Summer,Antwerpen,No Medal,20
"Swimming Men's 1,500 metres Freestyle",14863,George Thomas Breen,M,21.0,183.0,83.0,United States,1956 Summer,1956-01-01,Summer,Melbourne,Bronze,20
"Swimming Men's 1,500 metres Freestyle",14863,George Thomas Breen,M,25.0,183.0,83.0,United States,1960 Summer,1960-01-01,Summer,Roma,Bronze,20
"Swimming Men's 1,500 metres Freestyle",15762,"Thomas ""Carlton"" Bruner",M,24.0,175.0,55.0,United States,1996 Summer,1996-01-01,Summer,Atlanta,No Medal,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Swimming Women's 800 metres Freestyle,110722,Ann Linnaea Simmons,F,19.0,163.0,57.0,United States,1972 Summer,1972-01-01,Summer,Munich,No Medal,20
Swimming Women's 800 metres Freestyle,112334,Leah Smith,F,21.0,178.0,67.0,United States,2016 Summer,2016-01-01,Summer,Rio de Janeiro,No Medal,21
Swimming Women's 800 metres Freestyle,129370,"Wendy Weinberg (-Farber, -Weil)",F,18.0,168.0,57.0,United States,1976 Summer,1976-01-01,Summer,Montreal,Bronze,20
Swimming Women's 800 metres Freestyle,134938,Kate Marie Ziegler,F,20.0,183.0,73.0,United States,2008 Summer,2008-01-01,Summer,Beijing,No Medal,21
Swimming Women's 800 metres Freestyle,134938,Kate Marie Ziegler,F,24.0,183.0,73.0,United States,2012 Summer,2012-01-01,Summer,London,No Medal,21

In [43]:
df['Year']= pd.to_datetime(df['Year'], format= '%Y')
df['Century']= (df['Year'].dt.year//100)+1

In [47]:
bins=[0,20,40,60,80,100]
labels= ['0-20', '20-40', '40-60', '60-80','80-100']
df['Age group']= pd.cut(df['Age'], bins=bins, labels=labels,right=False)
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Century,Age group
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992-01-01,Summer,Barcelona,Basketball,Basketball Men's Basketball,No Medal,20,20-40
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012-01-01,Summer,London,Judo,Judo Men's Extra-Lightweight,No Medal,21,20-40
2,3,Gunnar Nielsen Aaby,M,24.0,175.0,70.0,Denmark,DEN,1920 Summer,1920-01-01,Summer,Antwerpen,Football,Football Men's Football,No Medal,20,20-40
3,4,Edgar Lindenau Aabye,M,34.0,175.0,70.0,Denmark/Sweden,DEN,1900 Summer,1900-01-01,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,20,20-40
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988-01-01,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,No Medal,20,20-40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976-01-01,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,No Medal,20,20-40
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014-01-01,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",No Medal,21,20-40
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014-01-01,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",No Medal,21,20-40
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998-01-01,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,No Medal,20,20-40
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002-01-01,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,No Medal,21,20-40