In [1]:
import pandas as pd
import requests
from zipfile import ZipFile
import io

url = 'https://raw.githubusercontent.com/rushabh1809-bot/MN5813-GRP-3/main/athlete_events.csv.zip'

retrived_url = requests.get(url)
zip_file = ZipFile(io.BytesIO(retrived_url.content))

df= pd.read_csv(zip_file.open('athlete_events.csv'))
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

The data set of the olympic data has been loaded in from a zipcode in Github and 5 rows has been shown of the data frame to ensure it has loaded in

In [11]:
print('What columns are in our data set:')
print(df.columns)

What columns are in our data set:
Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [2]:
duplicated_data=df.duplicated().sum()
print(f'Amount of duplicates in data set: {duplicated_data}')

Amount of duplicates in data set: 1385

In [3]:
df=df.drop_duplicates()

Duplicates are deleted

In [5]:
df['Height']=df['Height'].fillna(df['Height'].median())
df['Weight']=df['Weight'].fillna(df['Weight'].median())
df['Age']=df['Age'].fillna(df['Age'].median())
df['Medal']=df['Medal'].fillna('No Medal')

Nan values have been changed into median of data so data can be easily analysed without it being skewed, we assumed nan values for medals meant that the athlete didnt recieve a medal.