# PROJECT TITLE GOES HERE

## 2024-25 Group: X

*This is the MN5813 Group Assignment from Group X.*

- Student 1 ID
- Student 2 ID
- ...

## Project summary

In [80]:
# Add your project summary here [app. 200-250 words]

## Generative AI

In [81]:
# Add your statement / declaration here [be as specific as possible]

## Introduction

In [82]:
# Add your introduction here [app. 200-300 words]
# Formulate project aim & set of objectives

## Setup

### Import necessary libraries

In [83]:
import pandas as pd
import matplotlib.pyplot as plt
# import seaborn as sns

### Load data

In [84]:
import pandas as pd
import requests
from zipfile import ZipFile
import io

url = 'https://raw.githubusercontent.com/rushabh1809-bot/MN5813-GRP-3/main/athlete_eventsgrp.csv.zip'

retrived_url = requests.get(url)
zip_file = ZipFile(io.BytesIO(retrived_url.content))

### Convert into DataFrame

In [85]:

df= pd.read_csv(zip_file.open('athlete_events.csv'))
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

Display the first few rows and basic information about the DataFrame `df` you have created from `data_source`.

In [86]:
# print(df.head())

In [87]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB
None

## Data management

### Data cleaning

In [88]:
print(df.sort_values("Age", ascending=False))

            ID                        Name Sex   Age  Height  Weight  \
257054  128719      John Quincy Adams Ward   M  97.0     NaN     NaN
98118    49663               Winslow Homer   M  96.0     NaN     NaN
60863    31173  Thomas Cowperthwait Eakins   M  88.0     NaN     NaN
60861    31173  Thomas Cowperthwait Eakins   M  88.0     NaN     NaN
60862    31173  Thomas Cowperthwait Eakins   M  88.0     NaN     NaN
...        ...                         ...  ..   ...     ...     ...
270679  135368           Antonio A. Zucchi   M   NaN     NaN     NaN
270774  135416                   Star Zulu   M   NaN     NaN     NaN
270793  135426                Max Zumstein   M   NaN     NaN     NaN
270804  135434          Edmundo Ziga Erraz   M   NaN   180.0    95.0
270805  135435                  Faelo Ziga   M   NaN     NaN     NaN

                 Team  NOC        Games  Year  Season         City  \
257054  United States  USA  1928 Summer  1928  Summer    Amsterdam
98118   United States  USA  1932 Summer  1932  Summer  Los Angeles
60863   United States  USA  1932 Summer  1932  Summer  Los Angeles
60861   United States  USA  1932 Summer  1932  Summer  Los Angeles
60862   United States  USA  1932 Summer  1932  Summer  Los Angeles
...               ...  ...          ...   ...     ...          ...
270679      Argentina  ARG  1948 Summer  1948  Summer       London
270774         Zambia  ZAM  1984 Summer  1984  Summer  Los Angeles
270793    Switzerland  SUI  1928 Summer  1928  Summer    Amsterdam
270804          Chile  CHI  1948 Summer  1948  Summer       London
270805          Chile  CHI  1928 Summer  1928  Summer    Amsterdam

                   Sport                                           Event Medal
257054  Art Competitions     Art Competitions Mixed Sculpturing, Statues   NaN
98118   Art Competitions  Art Competitions Mixed Painting, Unknown Event   NaN
60863   Art Competitions  Art Competitions Mixed Painting, Unknown Event   NaN
60861   Art Competitions  Art Competitions Mixed Painting, Unknown Event   NaN
60862   Art Competitions  Art Competitions Mixed Painting, Unknown Event   NaN
...                  ...                                             ...   ...
270679            Hockey                             Hockey Men's Hockey   NaN
270774            Boxing                       Boxing Men's Bantamweight   NaN
270793            Hockey                             Hockey Men's Hockey   NaN
270804         Athletics                    Athletics Men's Hammer Throw   NaN
270805          Swimming             Swimming Men's 100 metres Freestyle   NaN

[271116 rows x 15 columns]

In [89]:
print('What columns are in our data set:')
print(df.columns)

What columns are in our data set:
Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [90]:
duplicated_data=df.duplicated().sum()
print(f'Amount of duplicates in data set: {duplicated_data}')

Amount of duplicates in data set: 1385

In [91]:
df=df.drop_duplicates()

In [92]:
print(df)

            ID                      Name Sex   Age  Height  Weight  \
0            1                 A Dijiang   M  24.0   180.0    80.0
1            2                  A Lamusi   M  23.0   170.0    60.0
2            3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN
3            4      Edgar Lindenau Aabye   M  34.0     NaN     NaN
4            5  Christine Jacoba Aaftink   F  21.0   185.0    82.0
...        ...                       ...  ..   ...     ...     ...
271111  135569                Andrzej ya   M  29.0   179.0    89.0
271112  135570                  Piotr ya   M  27.0   176.0    59.0
271113  135570                  Piotr ya   M  27.0   176.0    59.0
271114  135571        Tomasz Ireneusz ya   M  30.0   185.0    96.0
271115  135571        Tomasz Ireneusz ya   M  34.0   185.0    96.0

                  Team  NOC        Games  Year  Season            City  \
0                China  CHN  1992 Summer  1992  Summer       Barcelona
1                China  CHN  2012 Summer  2012  Summer          London
2              Denmark  DEN  1920 Summer  1920  Summer       Antwerpen
3       Denmark/Sweden  DEN  1900 Summer  1900  Summer           Paris
4          Netherlands  NED  1988 Winter  1988  Winter         Calgary
...                ...  ...          ...   ...     ...             ...
271111        Poland-1  POL  1976 Winter  1976  Winter       Innsbruck
271112          Poland  POL  2014 Winter  2014  Winter           Sochi
271113          Poland  POL  2014 Winter  2014  Winter           Sochi
271114          Poland  POL  1998 Winter  1998  Winter          Nagano
271115          Poland  POL  2002 Winter  2002  Winter  Salt Lake City

                Sport                                     Event Medal
0          Basketball               Basketball Men's Basketball   NaN
1                Judo              Judo Men's Extra-Lightweight   NaN
2            Football                   Football Men's Football   NaN
3          Tug-Of-War               Tug-Of-War Men's Tug-Of-War  Gold
4       Speed Skating          Speed Skating Women's 500 metres   NaN
...               ...                                       ...   ...
271111           Luge                Luge Mixed (Men)'s Doubles   NaN
271112    Ski Jumping  Ski Jumping Men's Large Hill, Individual   NaN
271113    Ski Jumping        Ski Jumping Men's Large Hill, Team   NaN
271114      Bobsleigh                      Bobsleigh Men's Four   NaN
271115      Bobsleigh                      Bobsleigh Men's Four   NaN

[269731 rows x 15 columns]

In [93]:
# TODO: Combine at least two columns

In [94]:
# TODO: Extract data from multiple columns to create a new column

In [95]:
# TODO: Anything else?

## Data analysis

In [96]:
# TODO: Conduct data analysis

## Data visualisation

In [97]:
# TODO: Create at least two meaningful visualisations

In [98]:
# Example visualisation (you can modify or replace this)
# plt.figure(figsize=(10, 6))
# sns.countplot(x="Medal", data=df)
# plt.title("Distribution of Medals")
# plt.show()

In [99]:
# SUGGESTION: Use a small multiple

## Data export

In [100]:
# TODO: Save the cleaned and wrangled DataFrame to a new CSV file

In [101]:
# TODO: Ensure that you can successfully load the exported CSV file

In [102]:
# TODO: Export visualisations as image files

## Conclusion

In [103]:
# Add your conclusion here [app. 300-500 words].

## References

1. Reference 1
2. Reference 2
3. Reference 3
4. ...

*(References must be complete and contain a link to the original source; usually a DOI link.)*

## Appendices

### Appendix A

In [104]:
# Appendix A goes here

### Appendix B

In [105]:
# Appendix B goes here